@{
    ViewData["Title"] = "403 ERROR";
}

<div class="bg-error d-flex flex-column justify-content-start align-items-center vw-100 vh-100">

    <h1 style="margin-top: 200px;" class=" mt-6 text-green display-1">@ViewData["Title"]</h1>

    <h3 class="text-white"> Access to localhost was deniedYou don't have the user rights to view this page.</h3>


</div>