
<div class="modal fade" id="CourseDetails" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <ul>
                <li >ID: <span id="courseId" class="fw-bold"></span></li>
                <li >Course NAME: <span id="CourseName" class="fw-bold"></span></li>
                <li >Course CONTENT: <span id="CourseContent" class="fw-bold"></span></li>
                <li >Course CREDIT: <span id="CourseCredit" class="fw-bold"></span></li>
                <li >Course DEPARTMENT: <span id="CourseDepartment" class="fw-bold"></span></li>
            </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Understood</button>
      </div>
    </div>
  </div>
</div>